[run]
branch = True
omit = **/migrations/**,
       **/urls.py,
       **/test/**,
       **/admin.py,
       ./manage.py,
       ./hsv_dot_beer/config/*,
       ./hsv_dot_beer/wsgi.py,
       *__init__*
