[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-configurations = "*"
gunicorn = "*"
newrelic = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
djangorestframework = "*"
django-filter = "*"
django-storages = "*"
"boto3" = "*"
Django = "<5.0"
Markdown = "*"
django-timezone-field = "*"
django-countries = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
celery = {extras = ["redis"],version = ">=4.3.0"}
django-celery-beat = ">=2.0.0"
django-cors-headers = "*"
python-dateutil = "*"
pylibmc = "*"
django-bmemcached = "*"
python-binary-memcached = "*"
python-twitter = "*"
crispy-tailwind = "*"
django-crispy-forms = "*"
crispy-bootstrap3 = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
pylint = "*"
"flake8" = "*"
mock = "*"
factory_boy = "*"
pylint-django = "*"
responses = "*"
freezegun = "*"
black = "*"
django-upgrade = "*"
pyupgrade = "*"

[requires]
python_version = "3.10"
