[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = ">=2018.7"
django-configurations = "*"
gunicorn = "*"
newrelic = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
djangorestframework = "*"
django-filter = "*"
mkdocs = "*"
"flake8" = "*"
mock = "*"
django-nose = "*"
nose-progressive = "*"
coverage = "*"
django-storages = "*"
"boto3" = "*"
Django = "*"
Markdown = "==3.0.1"
factory_boy = "*"

[dev-packages]
ipdb = "*"
ipython = "*"

[requires]
python_version = "3.7"
