{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>HSV.beer v2.1 (Venue)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lekton|Montserrat|Oswald:500" rel="stylesheet">
  <link rel='stylesheet' href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div id="app">
  <div class="header">
    <div class="container-fluid container-header">
      <nav class="navbar navbar-expand-md navbar">
        <a class="navbar-brand navbar-logo" href="#">
          <span class="particletext bubbles">
            <img class="brand-logo" src="{% static 'svg/hsv-beer-logo.svg' %}" alt="hsv.beer">
          </span>
        </a>
      </nav>
      <p class="text-intro lead text-center">Find draft beer in Huntsville</p>
      <div id="search" class="search-container">
        <div class="search-icon-container">
          <div class="search-icon dark small">
            <div class="mug-top"></div>
            <div class="mug-sides"></div>
            <div class="mug-bottom"></div>
            <div class="mug-handle">
              <div class="mug-handle-inner"></div>
            </div>
          </div>
        </div>

        <input type="text" class="form-control search" placeholder="Search beers, brewers, or styles" aria-label="Search beers, brewers, or styles">
          <button class="btn btn-clearsearch btn-secondary" type="button">
            <img src="{% static 'svg/close.svg' %}" alt="close"/>
          </button>
    </div>

    <div class="taphouse-select-container">
      <select data-placeholder="Select a taphouse" id="taphouseSelect" class="chosen-select">
        <option v-for="venue in venues" v-bind:value="venue.id">
          ${ venue.name }
        </option>
      </select>
    </div>
  </div>
</div>

<main>
  <div class="container-fluid">
    <div class="results-header">
      <h2 class="results-number">
        <span class="beer-total">${ count }</span> <span class="d-none">matching</span> beers on tap <span v-if="Object.keys(selected_venue).length"> at <a class="header-venue" href="#" data-toggle="modal" data-target="#exampleModal">${ selected_venue.name }</a></span>
      </h2>
      <div class="sort">
        <a class="sort-button btn btn-outline-light" href="#"></a>
        <div class="sort-options z-3">
          <div class="sort-options-header">Sort by:</div>
          <ul>
            <li><a href="#" class="selected">Name</a></li>
            <li><a href="#">Brewer</a></li>
            <li><a href="#">Style</a></li>
            <li><a href="#">Rating</a></li>
            <li><a href="#">ABV</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-list">
      <ul id="beer-list">
        <li v-for="(beer, i) of beers" class="beer">
          <div class="beer-intro">
            <div class="beer-logo"><img :src="beer.logo_url"></div>
            <div class="beer-info">
              <a class="beer-link"
                 @click="$set(visible, i, !visible[i]);
                         if (activeIdx != i) activeIdx = i;
                         else activeIdx = -1;">
                <h2 class="beer-name">${ beer.name }</h2>
              </a>
              <div class="beer-brewer">${ beer.manufacturer.name }</div>
              <div class="beer-style" v-bind:style="beer.styleObj">${ beer.style.name }<span v-if="beer.abv" class="beer-abv">${ beer.abv }%</span></div>
              <div v-if="beer.rating" class="beer-rating">${ beer.rating }</div>
            </div>
          </div>
          <b-collapse class="beer-details-container" v-model="visible[i]" :id="`collapse-${i}`">
            <div class="beer-details">
              <div class="find-it">
                <h3 class="find-it-header">Find it on tap at:</h3>
                <ul class="find-it-list">
                  <li v-for="place of beer.venues"><a :href="place.website">${ place.name }</a></li>
                </ul>
              </div>
              <div class="learn-more" v-if="beer.untappd_url || beer.taphunter_url">
                <h3 class="learn-more-header">Learn more</h3>
                <a v-if="beer.untappd_url" :href="beer.untappd_url" class="btn btn-outline-primary">untappd</a>
                <a v-if="beer.taphunter_url" :href="beer.taphunter_url" class="btn btn-outline-primary">TapHunter</a>
              </div>
            </div>
          </b-collapse>
        </li>
      </ul>
    </div>
  </div>
</main>

<footer>
  <div class="container-fluid">
    <ul class="list-inline">
      <li><a href="">About</a></li>
      <li><a href="mailto:contact@hsv.beer">Contact</a></li>
      <li><a href="">Buy us a beer</a></li>
    </ul>
  </div>
</footer>

<div class="modal modal-venue fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <section class="venue">
        <div class="venue-logo-title">
          <img class="venue-logo" :src="selected_venue.logo_url" alt="">
          <h1 class="venue-title">${ selected_venue.name }</h1>
        </div>
        <div class="venue-info">
          <address class="venue-address">${ selected_venue.address }<br>
            ${ selected_venue.city } ${ selected_venue.state } ${ selected_venue.postal_code }<br>
            <a class="venue-gmap" href="">View on Map</a>
          </address>
          <div class="venue-contact">
            <a v-if="selected_venue.website" class="venue-website" :href="selected_venue.website">${ selected_venue.website }</a>
            <a v-if="selected_venue.email" class="venue-email" :href="`mailto:${selected_venue.email}`">${ selected_venue.email }</a>
            <a v-if="selected_venue.phone_number" class="venue-phone" :href="`tel:${selected_venue.phone_number}`">${ selected_venue.phone_number }</a>
          </div>
          <div class="venue-social">
            <a class="btn venue-untappd" href=""><img src="{% static 'svg/untappd.svg' %}"><span>Untappd</span></a>
            <a class="btn venue-facebook" href=""><img src="{% static 'svg/facebook.svg' %}"><span>Facebook</span></a>
            <a class="btn venue-instagram" href=""><img src="{% static 'svg/instagram.svg' %}"><span>Instagram</span></a>
            <a class="btn venue-twitter" href=""><img src="{% static 'svg/twitter.svg' %}"><span>Twitter</span></a>
          </div>
          <div class="venue-taps">
            <a class="btn btn-primary btn-block btn-raised" href="">What's on tap</a>
          </div>
        </div>
      </section>
      </div>
    </div>
  </div>
</div>
</div>

<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
<script src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js'></script>
<script src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.proto.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script>

<script src="{% static 'js/index.js' %}"></script>
</body>

</html>
